<% facade.stations.each do |station| %>
    <ul class="station">
      <li class="name"><%= station.name %></li>
      <li class="address"><%= station.address %></li>
      <li class="fuel_type"><%= station.fuel_type %></li>
      <li class="distance"><%= station.distance %></li>
      <li class="access_time"><%= station.access_time %></li>
    </ul>
<% end %>
<% facade.nearest_stations.each do |station| %>
  <ul class="nearest_station">
    <li class="distance_to"><%= station.distance_to %></li>
    <li class="travel_time"><%= station.travel_time %></li>
    <li class="directions"><%= station.directions %></li>
  </ul>
  <% end %>
